.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 100px);
  overflow: auto;
}

.feedback {
  color: black;
  font-size: 1em;
  border-radius: 32px;
  background-color: #efefef;
  padding: 20px;
  line-height: 1.5em;
}

/* Background for normal priority (Follow-up Required: No) */
.Low {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}

/* Background for normal priority (Follow-up Required: No) */
.Medium {
  background-color: #fff9e6;
  border: 1px solid #ffe591;
}

/* Background for high priority (Follow-up Required: Yes) */
.High {
  background-color: #fff2e8;
  border: 1px solid #ffa39e;
}

.summary {
display: flex;
gap: 1rem;
  width: 100%;
}

.summaryPanel {
  min-width: 20%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
  transition: transform 0.2s ease;
}

.card {
  margin-bottom: 1rem;
}
.cardTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.cardItem {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.low {
  color: #2ecc71;
}

.medium {
  color: #f1c40f;
}

.high {
  color: #e74c3c;
}
